body {
  background-color: rgba(0, 0, 0, 0.375);
}

/* FONTS */

.bold, .strong { font-weight: bold !important; }
.tiny { font-size: 0.66em !important; }

/* HEADER  */

.navbar-brand span.site-name { font-family: 'Permanent Marker', serif; }
	.navbar-brand.h1 span.site-name {
		font-size: 24px !important;
		line-height: 27px !important;
	}
	.navbar-brand.h1 span.site-tagline {
		font-size: 21px !important;
		line-height: 36px !important;
		font-family: var(--bs-body-font-family);
	}


/* FOOTER */

footer p img { margin-top: -5px; }