/* Styles */

.homepage .navbar-brand span.site-name {
	font-family: 'Permanent Marker', serif;
}
.homepage .navbar.fixed-top .navbar-brand span.site-name {
	font-size: 24px !important;
	line-height: 24px !important;
}
.homepage .navbar.fixed-top .navbar-brand span.site-tagline::before {
  content: "| ";
  opacity: 30%;
}
.homepage .navbar-brand.h1 span.site-name {
	font-size: 48px !important;
	line-height: 36px !important;
}
.homepage .navbar-brand.h1 span.site-tagline {
	font-size: 21px !important;
	line-height: 36px !important;
	font-family: var(--bs-body-font-family);
}
.homepage .card-image {
	min-height: 100% !important;
	/* min-width: 100% !important; */
    width: fit-content !important;
    max-height: 100%;
}
.fix-gap {
	margin-right: -3px;
	margin-left: -3px;
}
.bg-gradient-dark {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}